html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
}

button:active {
  background-color: transparent;
}

button:focus {
  background-color: transparent;
}
