html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-button {
  border: none;
  background-color: transparent;
}

.icon-button:active {
  background-color: transparent;
}

.icon-button:focus {
  background-color: transparent;
}

label.form-group {
  display: block;
}

.btn ion-icon {
  vertical-align: middle;
}
